<style>
    #footer {
        width: 100%;
        height: 363px;
        background-color: rgb(255, 255, 255);
        background-image: url(https://architecture-1120677-pic47.websiteonline.cn/upload/foot1.jpg);
        background-position: center center;
        color: rgb(255, 255, 255);
        box-sizing: border-box;
        padding: 70px 0;
    }
    #footer .common-width {
        display: flex;

    }
    #footer .footer-menu {
        height: 170px;
    }
    #footer .footer-menu a {
        color: rgb(255, 255, 255);
        margin: 0 20px;
    }
    #footer .contact {
        margin-left: 40px;
    }
    #footer .contact p {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
    }
    #footer .contact p img {
        margin-right: 10px;
    }
    .copyright {
        text-align: left;
        font-size: 14px;
        color: rgb(136, 136, 137);
        padding: 20px 0;
        color: #fff;
        padding-left: 20px;
    }
</style>

<footer id="footer">
    <div class="common-width">
        <div class="footer-left">
            <div class="footer-menu">
                <a href="">网站首页</a>
                <a href="">关于我们</a>
                <a href="">新闻资讯</a>
                <a href="">产品展示</a>
                <a href="">资质荣誉</a>
                <a href="">工程案例</a>
                <a href="">联系我们</a>
            </div>

            <div class="copyright">
                Copyright © 2019中国某某轻钢结构工程有限公司 版权所有
            </div>
        </div>
        <div class="footer-right">
            <div class="contact">
                <p><img src="__PUBLIC__/assets/images/icon_tel.png" />Tel: 13000000000</p>
                <p><img src="__PUBLIC__/assets/images/icon_mobile.png" />Mobile: 010-10000000</p>
                <p><img src="__PUBLIC__/assets/images/icon_fax.png" />Fax: 010-11000000</p>
                <p><img src="__PUBLIC__/assets/images/icon_email.png" />E-Mail: mail@163.com</p>
                <p><img src="__PUBLIC__/assets/images/icon_address.png" />Address: 中国上海某某区某某路某某工业园区128号</p>
            </div>
        </div>
    </div>

</footer>
__PUBLIC__
<script>
    const $imgs = document.querySelectorAll('img')
    Array.from($imgs).forEach(item => {
        item.addEventListener('error', (e) => {
            const target = e.target
            if (e.target.dataset.name === 'error') return
            target.src = '__PUBLIC__/assets/images/image_error.png'
            target.dataset.name = "error"
        })
    })
</script>
