<style>
    .sidebar {
        width: 246px;
        flex-basis: 246px;
    }
    .sidebar-name{
        width: 100%;
        height: 81px;
        padding-left: 36px;
        line-height: 81px;
        font-family: 微软雅黑;
        font-size: 20px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        box-sizing: border-box;
        background: url('__PUBLIC__/assets/images/sidebar_menu_name_bg.jpg') no-repeat;
    }
    .sidebar-name span {
        font-weight: normal;
        font-size: 10px;
        margin-left: 10px;
    }
    .sidebar-list {

    }
    .sidebar-item {
        width: 100%;
        height: 64px;
        line-height: 64px;
        text-align: center;
        margin-top: 6px;
        background-color: #033d86;
        box-sizing: border-box;
        font-size: 16px;
    }
    .sidebar-item a {
        color: #fff;
        display: block;
    }
    .sidebar-item:hover, .sidebar-item.active {
        background-color: #000;
    }
</style>

<div class="sidebar">
    <div class="sidebar-name">快捷导航<span>Menus</span></div>
    <div class="sidebar-list">
        <volist name="sidebarMenus" id="vo">
        <div class="sidebar-item">
            <a href="{$vo.url}">{$vo.name}</a>
        </div>
        </volist>
    </div>
</div>