<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>首页</title>
	<include file="Public:head" />
	
</head>
<body>
	<include file="Public:header" />
	<div class="outer-wrapper">

		<include file="Index/module_one" />
		<include file="Index/module_two" />
		<include file="Index/module_three" />
		<include file="Index/module_four" />
	</div>
	<include file="Public:footer" />
</body>
</html>