<style>
    .news .title {
        background: url('__PUBLIC__/assets/images/four_bg.png') no-repeat top center;
    }

</style>

<div class="news index-module">
    <div class="common-width">
        <div class="title">
            <h3 class="main-title">新闻资讯</h3>
            <div class="sub-title">CASE</div>
        </div>
        <div class="news-list">
            <volist name="news" id="vo">
            <li class="news-item">
                <div class="date">
                    <div class="day">{$vo.time|substr=8,2}</div>
                    <div class="year-month">{$vo.time|substr=0,7}</div>
                </div>
                <div class="cont">
                    <p class="tit"><a href="/news/{$vo.pid}_{$vo.id}"  title="{$vo.title}">{$vo.title}</a></p>
                    <p class="desc">{$vo.content|strip_tags|mb_substr=0,200,'utf-8'}</p>
                </div>
            </li>
            </volist>
        </div>
        <div class="module-bottom">
            <a href="/news">
                <button type="button" class="layui-btn layui-btn-lg layui-btn-primary layui-btn-radius">查看更多</button>
            </a>
        </div>
    </div>
</div>