<style>
    .news .title {
        background: url('__PUBLIC__/assets/images/four_bg.png') no-repeat top center;
    }

</style>

<div class="news index-module">
    <div class="common-width">
        <div class="title">
            <h3 class="main-title">新闻资讯</h3>
            <div class="sub-title">CASE</div>
        </div>
        <div class="news-list">
            <for start="1" end="5">
            <li class="news-item">
                <div class="date">
                    <div class="day">15</div>
                    <div class="year-month">2014-10</div>
                </div>
                <div class="cont">
                    <p class="tit"><a href="https://architecture-201.view.websiteonline.cn/article.html?article_id=21"  title="人造石性能特点">人造石性能特点</a></p>
                    <p class="desc">**柔和的外表 纳米微晶石花色品种多、色彩明快、自然高雅、现代感十足，尽显其**和丰富的内涵，是追求心灵意境的**体现。</p>
                </div>
            </li>
            </for>
        </div>
    </div>
</div>