<style>
    .product .title {
        background: url('__PUBLIC__/assets/images/two_bg.png') no-repeat top center;
    }
    .product .content {
        display: flex;
        flex-wrap: wrap;
    }
    .product .content > div {
        width: 300px;
        height: 225px;
        box-sizing: border-box;
        border: 1px solid #eee;
    }
</style>

<div class="product index-module">
    <div class="common-width">
        <div class="title">
            <h3 class="main-title">产品展示</h3>
            <div class="sub-title">PRODUCT</div>
        </div>
        <div class="content">
            <volist name="productCategories" id="vo">
            <div>
                <img src="__ROOT__/__UPLOAD__/{$vo.img}">
            </div>
            </volist>
        </div>
        <div class="module-bottom">
            <a href="/product">
                <button type="button" class="layui-btn layui-btn-lg layui-btn-primary layui-btn-radius">查看更多</button>
            </a>
        </div>
    </div>
</div>