<style>
    .aboutus .title {
        background: url('__PUBLIC__/assets/images/one_bg.png') no-repeat top center;
    }
    .aboutus .content {
        display: flex;
        justify-content: space-between;
    }
    .aboutus .intro {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 610px;
        color: rgb(102, 102, 102);
        line-height: 2;
    }
    .intro-bottom {
        display: flex;
        align-items: center;
    }
    .intro-bottom > div {
        font-size: 32px;
        line-height: 1.2;
    }
    .intro-bottom > p {
        color: rgb(153, 153, 153);
        margin-left: 30px;
    }
    .short-menu {
        display: flex;
        justify-content: space-around;
        padding: 50px 0;
    }
    .short-menu-item {
        text-align: center;
    }
</style>

<div class="aboutus index-module">
    <div class="common-width">
        <div class="title">
            <h3 class="main-title">关于我们</h3>
            <div class="sub-title">ABOUT US</div>
        </div>
        <div class="content">
            <img src="__PUBLIC__/assets/images/aboutus_pic.jpg" />
            <div class="intro">
                <p>
                    <strong>中国轻钢结构工程有限公司</strong><br>
                    成立于1969年10月，主要从事轻钢结构建筑的设计、制作、安装事业。公司办公地位于中国上海市某某区，加工厂位于上海市自贸区，占地面积20万平方米，厂房面积40000平方米,公司注册资金1000万人民币。几十年时间先后在中国及珠江三角洲、山东等地建成5000余项、1000多万平方米轻钢结构形式的粮库、工厂、仓库、体育馆、会馆及其它各种用途的建筑。
                </p>
                <div class="intro-bottom">
                    <div>OUR<br><strong>VISION</strong></div>
                    <p>“本色做人，出色做事”永远是企业的座右铭，企业留给社会留给用户的将永远是扎实而真诚的脚印。</p>
                </div>
            </div>
        </div>
        <div class="short-menu">
            <div class="short-menu-item">
                <img src="__PUBLIC__/assets/images/short_menu_aboutus.png" />
                <div>公司简介<br>About US</div>
            </div>
            <div class="short-menu-item" >
                <img src="__PUBLIC__/assets/images/short_menu_honor.png" />
                <div>公司资质<br>Company Honor</div>
            </div>
            <div class="short-menu-item">
                <img src="__PUBLIC__/assets/images/short_menu_culture.png" />
                <div>企业文化<br>Company Culture</div>
            </div>
            <div class="short-menu-item">
                <img src="__PUBLIC__/assets/images/short_menu_info.png" />
                <div>企业资讯<br>Company Information</div>
            </div>
            <div class="short-menu-item">
                <img src="__PUBLIC__/assets/images/short_menu_contactus.png" />
                <div>联系我们<br>Contact Us</div>
            </div>
        </div>
        <div class="module-bottom">
            <a href="/company">
                <button type="button" class="layui-btn layui-btn-lg layui-btn-primary layui-btn-radius">查看更多</button>
            </a>
        </div>
    </div>
</div>