<style>
    .product .title {
        background: url('__PUBLIC__/assets/images/two_bg.png') no-repeat top center;
    }
    .product .content {
        display: flex;
        flex-wrap: wrap;
    }
    .product .content .product-cate-item {
        position: relative;
        width: 300px;
        height: 225px;
        box-sizing: border-box;
        border: 1px solid #eee;
    }
    .product-cate-item .name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<div class="product index-module">
    <div class="common-width">
        <div class="title">
            <h3 class="main-title">推荐产品</h3>
            <div class="sub-title">PRODUCT</div>
        </div>
        <div class="content">
            <div class="product-card-list">
                <volist name="recommendProductList" id="vo">
                    <div class="product-card-item">
						<a href="{$vo.url}" class="product-link" title="{$vo.title}">
							<div class="poster">
								<img src="__ROOT__/__UPLOAD__/m_{$vo.img}" alt="{$vo.title}">
							</div>
							<div class="product-title">{$vo.title}</div>
							<div class="product-trade">适用行业：化学、化工、食品 等</div>
							<div class="product-rate">
								<i class="layui-icon layui-icon-rate-solid"></i>
								<i class="layui-icon layui-icon-rate-solid"></i>
								<i class="layui-icon layui-icon-rate-solid"></i>
								<i class="layui-icon layui-icon-rate-half"></i>
								<i class="layui-icon layui-icon-rate"></i>
								<span>3.5分</span>
							</div>
						</a>
                    </div>
                </volist>
            </div>
        </div>
        <div class="module-bottom">
            <a href="/product">
                <button type="button" class="layui-btn layui-btn-lg layui-btn-primary layui-btn-radius">查看更多</button>
            </a>
        </div>
    </div>
</div>