


<!DOCTYPE HTML>
<html>
<head>
	<include file="Public:head" />
	<script src="http://api.map.baidu.com/api?v=1.4"></script>
</head>

<body>
	<include file="Public:header" />
	<section class="subpage-content-wrapper wrapper">
		<include file="Public:sidebar" />
		<div class="subpage-content">
			<div class="breadcrumb-module">
				<h3 class="breadcrumb-title">{$catname}</h3>
				<div class="breadcrumb">当前位置：{$location}</div>
			</div>
			<div class="content">
				<div class="con_bd">
					
                   <div><p align="center"><img src="/Uploads/image/lxwm.jpg"/></p>


					</script>

				</div>
			</div>
		</div>
	</section>
	<include file="Public:footer" />
</body>

</html>

