<div name="img" style="margin-top: 30px;">
    <div id="uploader">
        <div class="queueList">
            <div id="dndArea" class="placeholder">
                <div id="filePicker"></div>
                <p>或将照片拖到这里，单次最多可选50张</p>
            </div>
        </div>
        <div class="statusBar" style="display:none;">
            <div class="info"></div>
            <div class="btns">
                <div class="uploadBtn">开始上传</div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="__PUBLIC__/Js/Uploader/uploader.css">
    <script src="__PUBLIC__/Js/ueditor/third-party/webuploader/webuploader.min.js"></script>
    <script src="__PUBLIC__/Js/Uploader/uploader.js"></script>
</div>