<!DOCTYPE HTML>
<html>
<head>
	<include file="Public:head" />
</head>
<body>
		<div class="header">
			<include file="Public:header" />
		</div>
	<div class="wrap">
		<div class="main">
			<div class="left">
				<include file="Public:sidebar" />
			</div>
			<div class="right">
				<div class="article">
					<div class="title"><strong>{$catname}</strong><span class="right f12">{$location}</span></div>
					<ul class="jobs">
						<li style="border:none;">
							<p>
								职位名称：<strong>{$jobs.job}</strong><br>
								结束时间：{$jobs.end_time}<br>
								招聘人数：{$jobs.num}人<br>
								工资待遇：{$jobs.salary}<br>
							</p>
							<a href="__APP__/jobs/seek_job/id/{$jobs.id}">应聘职位</a>
						</li>
					</ul>
					<div class="info_title">
						<b>详细说明：</b>
					</div>
					<div class="pro">
					<p>{$jobs['request']}</p>
					</div>
					<ul id="prev_next">
						<li>{$prev_page}</li>
						<li>{$next_page}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
		<div class="footer">
			<include file="Public:footer" />
		</div>
</body>	
</html>
