<!DOCTYPE HTML>
<html>

<head>
    <include file="Public:head" />
    <style>
        .case-title {
            text-align: center;
        }
        .case-img {
            display: flex;
            justify-content: center;
        }
        .case-content {

        }
    </style>
</head>

<body>
    <include file="Public:header" />
    <div class="breadcrumb">
        <div class="common-width">
            <span class="layui-breadcrumb">
                <a href="__APP__/">首页</a>
                <a><cite>客户案例</cite></a>
            </span>
        </div>
    </div>
    <div class="child-page-main">
        <div class="common-width">
            <include file="Public:sidebar" />
            <div class="child-page-content">
                <h3 class="case-title">{$article['title']}</h3>
                <div class="case-img"><img src="/__UPLOAD__/{$article['img']}" alt=""></div>
                <div class="case-content">{$article['content']}</div>
            </div>
        </div>
    </div>
    <include file="Public:footer" />
</body>

</html>